@import url('https://fonts.googleapis.com/css?family=Inconsolata|Roboto&display=swap');

body {
	background-color: #91b79d ;
	text-align: center;
}
img {width: 300px; }
iframe {width: 500px ; text-align: center; }
p {font-size: 18pt; font-family: 'Roboto', sans-serif; text-align: center;}
h1 {font-size: 36pt; font-family: 'Inconsolata', monospace; text-align: center; }
#titre2 {color: white;font-size: 22pt}
.hihi {color: white;font-size: 12pt }